<header class="site-header">
    <div class="container">
      <div class="logo">
        <a href="/index.html">
          <img src="/assets/images/logo-techminds-sigla.png" alt="TechMinds Logo">
          
        </a>
      </div>
      <nav class="main-nav">
        <button class="mobile-menu-toggle" aria-label="Meniu">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="nav-links">
          <li><a href="/index.html">Acasă</a></li>
          <li><a href="/content/scratch/index.html">Scratch</a></li>
          <li><a href="/content/appinventor/index.html">App Inventor</a></li>
          <li><a href="/content/html/index.html">HTML & CSS</a></li>
          <li><a href="/content/python/index.html">Python</a></li>
        </ul>
      </nav>
    </div>
  </header>